/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Marine Symbiotic Consortia Discovery Pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Global default params, used in configs
params {
    // Input/output options
    input                      = null
    outdir                     = 'results'
    
    // Assembly options
    assembler                  = 'megahit'
    min_contig_length          = 1000
    skip_assembly              = false
    
    // Annotation options
    annotation_method          = 'eggnog'
    eggnog_db                  = null
    diamond_db                 = null
    skip_annotation            = false
    
    // Pathway extraction options
    nif_genes                  = 'nifH,nifD,nifK,nifE,nifN,nifB'
    carbon_pathways            = 'CBB,rTCA,3HP,4HB,WL'
    
    // Machine learning options
    carbon_export_data         = null
    ml_model                   = 'random_forest'
    n_estimators               = 100
    test_size                  = 0.2
    skip_ml                    = false
    
    // Boilerplate options
    help                       = false
    publish_dir_mode           = 'copy'
    
    // Max resource options
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}

// Load base config
includeConfig 'conf/base.config'

// Profiles
profiles {
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
    }
    
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    
    test {
        includeConfig 'conf/test.config'
    }
}

// Export these variables to prevent local Python/R libraries from conflicting
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

// Capture exit codes from upstream processes
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

manifest {
    name            = 'nohaelkayal/symbiont-discovery-pipeline'
    author          = 'Noha Elkayal'
    homePage        = 'https://github.com/nohaelkayal/symbiont-discovery-pipeline'
    description     = 'Data-driven discovery of symbiotic planktonic consortia'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0'
}
